:root {
    overflow: hidden;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype')
}

body {
    margin: 0;
    padding: 0;
}

.sign-up-form {
    display: flex;
    flex-direction: row;
}

.banner {
    position: relative;
    height: 100vh;
}

.banner-image {
    height: 100%;
    z-index: -1;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 0;

    position: absolute;
    height: 15vh;
    top: 25vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5)
}

.logo-text {
    color: white;
    font-family: 'Norse Bold', sans-serif;
    font-size: 10vh;
}

.logo-image {
    height: 100%;
}

.logo-attribution {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5vh;
}

.logo-attribution a {
    color: white
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper>div {
    flex: 1;
}

.top-content {
    background-color: rgb(249, 250, 251);
    padding: 1em 8em 1em 3em;
    font-weight: bold;

    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;

    font-size: 2.5vh;
}

.form-wrapper {
    padding: 1em 16em 1em 3em;
    box-shadow: 0 12px 40px -40px black;
    z-index: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 100%;
}

.title {
    font-size: 2.5vh;
    font-weight: bold;
}

.form-field-row {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.form-field {
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-field {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: white;
    font-size: 2vh;
    padding: 0.3em 0.5em;
    box-shadow: none;
    outline: none;
}

.input-field:focus {
    border-color: #0055ff;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

.bottom-content {
    background-color: rgb(249, 250, 251);
    padding: 1em 8em 4em 3em;

    display: flex;
    flex-direction: column;
    align-self: unset;
    gap: 1.5em;
}

.create-acc-btn {
    align-self: flex-start;
    padding: 0.8em 2.5em;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(89, 109, 72);
    color: white;
    font-weight: bold;
}

.login {
    font-size: 1.8vh;
    font-weight: bold;
}

.login-link {
    text-decoration: none;
    color: rgb(89, 109, 72);
}